/* only applies to entry portal */

/* body, html {
    height: 100%
} */

/* need to stop aside sticking to top of viewport */
/* work on responsiveness */

.bg-image {
    background-image: url("../images/portal-background.webp");
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.mask {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100vh;
}

.container {
    color: linen
}

main {
    padding: 10%;
}

h1 {
    font-family: 'Public Sans', sans-serif;
    font-size: 80pt;
    font-weight: 100;
}

h2 {
    font-family: 'Public Sans', sans-serif;
    font-size: 20pt;
}

.right-aligned-txt {
    text-align: right;
}

.btn-primary {
    background-color: #d25525;
    text-transform: uppercase;
    font-size: 14pt;
    margin: 5% 10% 5% 0;
    border: none;
    border-radius: 0;
    opacity: 0.85;
    width: 8rem;
    padding: 10px 0;
}

.btn-primary:hover {
    background-color: linen;
    color: #2c2d25;
}

.featured-artwork-aside {
    background-color: #2c2d25;
    padding: 1em;
    text-align: center;
    font-family: 'Public Sans', sans-serif;
}

.featured-artwork-aside img {
    width: 100%;
    margin: 10% 0 ;
}

.aw-title-span {
    font-style: italic;
}