<main>
    <h1>The Art Hole</h1>
    <h2>so highbrow it's lowbrow</h2>
    <h2>so lowbrow it's highbrow</h2>
    
    <a href="/login">Enter</a>
    <%# not sure if this is the correct link to sign up %>
    <a href="/users/new">Join</a>
</main>

<aside>
    <h3>Featured</h3>
    <img src="" alt="">
    <p>Dreams of Cheese</p>
</aside>
