<form action="/session" method="post">
<%# Ideally wouldn't have labels, only placeholders? %>
    <label for="">Email</label>
    <input type="email" name="email" value="Email address">

    <label for="">Password</label>
    <input type="password" name="password">

    <button>Enter</button>
</form>