<form action="/users" method="post">
    <div class="form-group">
        <label for="">Name</label>
        <input type="text" name="name" required>
    </div>
        
    <div class="form-group">
        <label for="">Email</label>
        <p class="form-info">Please be aware that this email will be provided to buyers to contact you.</p>
        <input type="email" name="email" required>
    </div>

    <div class="form-group">
        <label for="">Password</label>
        <input type="password" name="password" required>
    </div>
    
    <button class="btn btn-primary">Join</button>

    <% if defined?(message) && message %>
        <p class="form-message">
            A client with this email already exists in this system. 
        </p>
    <% end %>
</form>

