<h1>Add a listing</h1>

<form action="/artworks" method="post" enctype="multipart/form-data">
    <div>
        <label for="">Title</label>
        <input type="text" name="title" required>
    </div>
    <div>
        <label for="">Artist</label>
        <input type="text" name="artist" required>
    </div>
    <div>
        <label for="">Image file</label>
        <input type="file" name="image_file" required>
    </div>
    <div>
        <label for="">Year</label>
        <input type="number" name="year" required>
    </div>
    <div>
        <label for="">Media</label>
        <input type="text" name="media" required>
    </div>
    <div>
        <label for="">Description</label>
        <textarea name="description" id="" cols="30" rows="10"></textarea>
    </div>

    <button>Add</button>
 
</form>