<form action="/users" method="post">
    <div>
        <label for="">Name</label>
        <input type="text" name="name" placeholder="Name">
    </div>
    <div>
        <label for="">Email</label>
        <p>Please be aware that this email will be provided to buyers to contact you.</p>
        <input type="email" name="email" placeholder="Email">
    </div>
    <div>
        <label for="">Password</label>
        <input type="password" name="password">
    </div>
    <button>Join</button>
</form>

<% if defined?(message) && message %>
    A client with this email already exists in this system. <a href="/login">Log in.</a>
<% end %>